In [17]:
import pandas as pd
import math
import statistics as s

In [18]:
spam_ham_df = pd.read_csv("spambasetrain.csv", header=None)
spam_ham_df.head()

     0      1    2      3      4      5      6   7    8  9
0  0.0  0.316  0.0  0.000  0.000  0.000  1.125   2    9  0
1  0.0  0.735  0.0  0.735  0.000  0.000  2.571  10   18  0
2  0.0  0.105  0.0  0.000  0.158  0.000  1.494  10  139  1
3  0.0  0.299  0.0  0.000  0.000  0.199  2.465  28  106  1
4  0.0  0.000  0.0  0.817  0.000  0.000  1.857  15   39  0

In [19]:
ham_df = spam_ham_df[spam_ham_df[9] == 0]
ham_df.index = pd.RangeIndex(len(ham_df.index))
ham_df.describe()

,0,1,2,3,4,5,6,7,8,9
count,1794.000000,1794.000000,1794.000000,1794.000000,1794.000000,1794.000000,1794.000000,1794.000000,1794.000000,1794.0
mean,0.048426,0.157487,0.016960,0.110713,0.011503,0.025892,2.376590,18.182274,164.143255,0.0
std,0.297163,0.264915,0.069609,0.646210,0.063876,0.298779,6.119418,43.763761,379.650061,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.0
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.350000,4.000000,18.000000,0.0
50%,0.000000,0.064000,0.000000,0.000000,0.000000,0.000000,1.824000,10.000000,53.000000,0.0
75%,0.000000,0.224000,0.000000,0.028500,0.000000,0.000000,2.532000,18.000000,137.000000,0.0
max,4.367000,5.277000,1.449000,19.131000,0.903000,7.407000,251.000000,1488.000000,5902.000000,0.0

In [20]:
spam_df = spam_ham_df[spam_ham_df[9] == 1]
spam_df.index = pd.RangeIndex(len(spam_df.index))
spam_df.describe()

,0,1,2,3,4,5,6,7,8,9
count,1205.000000,1205.000000,1205.000000,1205.000000,1205.000000,1205.000000,1205.000000,1205.000000,1205.000000,1205.0
mean,0.020247,0.103439,0.007847,0.491662,0.173151,0.084901,9.496347,97.209129,453.512863,1.0
std,0.086846,0.179286,0.049154,0.740130,0.360521,0.726143,54.460853,190.709179,783.697723,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.000000,1.0
25%,0.000000,0.000000,0.000000,0.088000,0.000000,0.000000,2.302000,15.000000,94.000000,1.0
50%,0.000000,0.067000,0.000000,0.309000,0.079000,0.000000,3.571000,38.000000,194.000000,1.0
75%,0.000000,0.145000,0.000000,0.615000,0.211000,0.017000,5.634000,82.000000,533.000000,1.0
max,0.768000,4.271000,1.171000,7.843000,6.003000,19.829000,1102.500000,2204.000000,15841.000000,1.0

In [21]:
ham = len(ham_df)/len(spam_ham_df)
spam = len(spam_df)/len(spam_ham_df)
print(ham)
print(spam)

0.5981993997999333
0.4018006002000667

In [22]:
means_ham = []
means_spam = []
for i in range(0, 10):
    means_ham.append(ham_df[i].mean())
    means_spam.append(spam_df[i].mean())
print(means_ham)
print(means_spam)

[0.048425863991081425, 0.1574866220735784, 0.016959866220735784, 0.1107129319955407, 0.011502787068004453, 0.025892419175027874, 2.376589743589742, 18.182274247491637, 164.1432552954292, 0.0]
[0.02024730290456431, 0.10343900414937772, 0.007847302904564315, 0.49166224066390096, 0.1731510373443983, 0.08490124481327807, 9.496346887966812, 97.2091286307054, 453.5128630705394, 1.0]

In [23]:
variances_ham = []
variances_spam = []
sh = 0
ss = 0
for i in range(0, 10):
    for j in range(0, len(ham_df)):
        sh = sh + ((ham_df[i][j] - means_ham[i]) ** 2)
    for k in range(0, len(spam_df)):
        ss = ss + ((spam_df[i][k] - means_spam[i]) ** 2)
    variances_ham.append(sh / (len(ham_df) - 1))
    variances_spam.append(ss / (len(spam_df) - 1))
    sh = 0
    ss = 0
print(variances_ham)
print(variances_spam)

[0.088305603257061979, 0.070179774779101339, 0.0048453525434288824, 0.41758787460121027, 0.0040801330095175435, 0.089268879105915813, 37.447270639180786, 1915.2668133413704, 144134.16853507495, 0.0]
[0.0075422809831680992, 0.032143331201665272, 0.002416074670875807, 0.54779209761789971, 0.12997566487641313, 0.52728327678416864, 2965.9844858446845, 36369.991112612159, 614182.12047393771, 0.0]

In [24]:
v_ham = []
v_spam = []
for i in range(0, 10):
    a = list(ham_df[i])
    b = list(spam_df[i])
    v_ham.append(s.stdev(a))
    v_spam.append(s.stdev(b))
print(v_ham)
print(v_spam)

[0.2971625872431812, 0.26491465565178146, 0.06960856659513132, 0.646210394996254, 0.06387591885458384, 0.29877898036159156, 6.119417508160468, 43.76071297408213, 379.6498386671592, 0.0]
[0.08684630667546052, 0.17928561348213432, 0.04915358248262054, 0.7401297843067112, 0.3605213792223905, 0.7261427385742858, 54.46085278293653, 190.7065809037538, 783.697645779289, 0.0]

In [25]:
spam_ham_df_test = pd.read_csv("spambasetest.csv", header=None)
spam_ham_df_test.head()

       0      1     2      3      4    5      6    7     8  9
0  0.000  0.000  0.00  0.000  0.000  0.0  2.000    4     6  0
1  0.000  0.000  0.00  0.102  0.000  0.0  2.531   30    81  0
2  0.000  0.492  0.00  0.000  0.000  0.0  1.890   11   138  0
3  0.203  0.195  0.05  0.000  0.014  0.0  2.880   45  1080  0
4  0.000  0.000  0.00  0.874  0.000  0.0  5.114  107   179  1

In [26]:
final = []
p_ham = math.log(ham)
p_spam = math.log(spam)
for i in range(0, len(spam_ham_df_test)):
    for j in range(0, 9):
        #temp1 = 1 / (math.sqrt(2 * math.pi) * v_ham[j])
        #temp2 = -(((spam_ham_df_test[j][i] - means_ham[j]) ** 2) / (2 * (v_ham[j] ** 2)))
        temp1 = 1 / (math.sqrt(2 * math.pi * variances_ham[j]))
        temp2 = -(((spam_ham_df_test[j][i] - means_ham[j]) ** 2) / (2 * variances_ham[j]))
        temp3 = math.pow(math.e, temp2)
        p_h = (temp1) * (temp3)
        p_ham = p_ham + math.log(p_h)
        #temp1 = 1 / (math.sqrt(2 * math.pi) * v_spam[j])
        #temp2 = -(((spam_ham_df_test[j][i] - means_spam[j]) ** 2) / (2 * (v_spam[j] ** 2)))
        temp1 = 1 / (math.sqrt(2 * math.pi * variances_spam[j]))
        temp2 = -(((spam_ham_df_test[j][i] - means_spam[j]) ** 2) / (2 * variances_spam[j]))
        temp3 = math.pow(math.e, temp2)
        p_s = (temp1) * (temp3)
        p_spam = p_spam + math.log(p_s)
    if(p_spam >= p_ham):
       final.append(1)
    else:
       final.append(0)
    p_ham = math.log(ham)
    p_spam = math.log(spam)
print(final)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [27]:
true = list(spam_ham_df_test[9])
c = 0
for i in range(0, len(final)):
    if(true[i] == final[i]):
        c = c + 1
print(c)
print(len(final) - c)
print((len(final)-c)/len(final))

160
40
0.2